/***** Library & partials import *****/

@import './lib/variables.import.scss';
@import './lib/mixins.import.scss';
@import './lib/draft.scss';

/***** App-wide styling *****/

body {
  font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', sans-serif;
  color: #4A4A4A;
  width: 100vw;
  height: 100vh;
}

#app {
  width: 100%;
  height: 100%;
}

a {
  color: black;
}

#sidenav-overlay {
  z-index: 0;
  background: none;
}

.text-danger {
  color: $color-red !important;
}

/***** Scss Imports *****/

// Reusable Components
@import './shared/components/avatar.scss';
@import './shared/components/dropdown.scss';
@import './shared/modals/modals.scss';

// Page Components
@import './shared/components/sidebar.scss';
@import './shared/components/navbar.scss';
@import './shared/components/search-overlay.scss';
@import './auth/components/auth.scss';
@import './editor/editor.scss';
@import './editor/compiler/compiler.scss';
@import './folders/components/search.scss';
@import './home/components/home.scss';
@import './notifications/components/notifications.scss';
