/***** Library & partials import *****/

@import './lib/variables.import.scss';
@import './lib/mixins.import.scss';
@import './lib/draft.scss';

/***** App-wide styling *****/

body {
  font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', sans-serif;
  color: #4A4A4A;
  width: 100vw;
  height: 100vh;
}

#app {
  width: 100%;
  height: 100%;
}

a { color: black; }

#sidenav-overlay {
  z-index: 0;
  background: none;
}

.text-danger { color: $color-red !important; }

/***** Page Wrapper for Responsive Padding *****/

.pageWrapper {
  overflow-y: auto;
  transition: padding .25s ease;
}
@media (max-width: $screen-sm-max) {
  .pageWrapper { padding: 90px 20px 80px 20px; }
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .pageWrapper { padding: 90px 50px 80px 50px; }
}
@media (min-width: $screen-lg-min) {
  .pageWrapper { padding: 90px 200px 80px 200px; }
}

/***** Cards Styling *****/

.noteCard {
  margin: 12px 1%;
  padding: 8px 16px;
  height: 80px;
  max-width: 23%;
  min-width: 230px;
  border: 1px solid $color-grey-lighter;
  border-radius: 8px;
  display: flex;
  flex: 1 0 23%;
  align-items: center;

  &:hover {
    box-shadow: 0 2px 6px $color-grey-lighter;
  }

  .cardImage {
    margin-right: 16px;
  }
  .cardInfo {
    overflow: hidden;
    flex: 1;
  }
  .cardInfo > .title {
    font-size: 18px;
    color: $primary-color;
    @include overflow-ellipsis();
  }
  .cardInfo > .details {
    font-size: 12px;
    color: $color-grey;
  }
  .cardActions > .icon-btn {
    display: flex;
  }
  .cardActions > .icon-btn i { color: $color-grey-darkest; }
}
.folderCard {
  @extend .noteCard;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding: 8px 24px;

  .cardImage > i {
    color: $color-grey-lighter;
    font-size: 32px;
  }
}

/***** Scss Imports *****/

// Reusable Components
@import './shared/components/avatar.scss';
@import './shared/components/dropdown.scss';
@import './shared/modals/modals.scss';

// Page Components
@import './shared/components/sidebar.scss';
@import './shared/components/navbar.scss';
@import './shared/components/search-overlay.scss';
@import './auth/auth.scss';
@import './editor/editor.scss';
@import './editor/compiler/compiler.scss';
@import './folders/folders.scss';
@import './notes/notes.scss';
@import './home/home.scss';
@import './notifications/notifications.scss';
