.NavContainer {
  height: 60px;
  padding: 0 32px;
  display: flex;
  align-items: center;
  z-index: $zindex-top-higher;
  width: 100vw;
  position: fixed;
}

.NavContainer .logo {
  margin-right: 32px;
}
.NavContainer .appLogo {
  width: 32px;
}

.NavContainer .widgets {
  display: flex;
  flex-direction: row;

  > * {
    margin-left: 32px;
    cursor: pointer;
  }
}

.NavContainer .icon-btn {
  color: $color-grey;
  transition: color .25s ease;

  &:hover {
    cursor: pointer;
    color: $color-grey-darkest;
  }
}
