
.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: flex;
  background: rgba(255,255,255,.98);
  flex-direction: column;
  cursor: auto;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all .3s ease;

  .overlay-navbar {
    display: flex;
    justify-content: flex-end;
    height: 60px;
  }

  .overlay-close {
    display: flex;
    height: 50px;
    width: 50px;
    padding-right: 20px;
    padding-top: 10px;
    margin-right: 70px;
  }

  .closeButton {
    font-size: 40px;
    cursor: pointer;
  }

  .overlay-responsive {
    height: 200px;
    display: flex;
    justify-content: center;
  }


  .searchFileOrFolder {
    display: flex;
    flex-direction: column;
    width: 100px;
    align-self:center;
  }

  .fileOrFolderChoice {
    display: flex;
    flex-direction: row;
  }

  .userSearchFile {
    display: flex;
    padding-right: 14px;
    padding-left: 5px;
    cursor: pointer;
  }

  .userSearchFolder {
    padding-left: 8px;
    cursor: pointer;
  }

  .userSearchFolder,
  .userSearchFile {
    color: lightgrey;
  }

  .fileOrFolderChoice .isActive {
    color: black;
  }

  .searchIcon {
    font-size: 80px;
    display: flex;
    align-items: center;
  }

  .searchAllInput {
    display: flex;
    align-self: center;
    font-size: 50px;
    width: 600px;
    padding-top: 23px;
  }

  .userQuery {
    font-size: 40px;
    display: flex;
  }

  .overlay-searchResults {
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    padding: 20px 105px;
    flex-wrap: wrap;
    margin-left: 15px;
  }

  .userQueryResults {
    width: 270px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 2px 4px #000000;
    margin-right: 50px;
    background: rgba(255,255,255,1);
    transition: all .25s ease;
    margin-top: 30px;
  }

  .resultTypeAndFileName {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .resultTypeAndFileName .folderIcon {
    font-size: 30px;
    padding-left: 5px;
    padding-top: 5px;
  }

  .resultTypeAndFileName .resultFileName {
    font-size: 30px;
    padding-right: 10px;
  }

  .resultContentsAndUser {
    font-size: 15px;
    padding-left: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-start;
  }
}

.searchButton {
  cursor: pointer;
}
