.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: $zindex-top-highest;
  display: flex;
  background: rgba(255,255,255,.98);
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  cursor: auto;
  transition: none;

  .overlay-navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
  }

  .overlay-close {
    position: absolute;
    top: 12px;
    right: 69px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    > span {
      margin-top: 2px;
      font-size: 10px;
      color: $color-grey;
      text-transform: uppercase;
    }
  }

  .closeButton {
    font-size: 40px;
    cursor: pointer;
    color: $color-grey;
    transition: color .25s ease;
    &:hover { color: $color-grey-darker; }
  }

  .overlay-responsive {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: .2s ease SEARCH_OVERLAY_INPUT_IN;
  }

  .searchbox {
    display: flex;
    flex-direction: row;
    max-width: 650px;
    align-items:center;
  }

  .searchDropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #26a69a;
    font-size: 18px;
    min-width: 160px;
    max-width: 160px;
  }

  .searchIcon {
    font-size: 64px;
    display: flex;
    align-items: center;
    color: $color-grey-lighter;
  }

  .userQuery {
    box-sizing: border-box;
    margin: 0 12px;
    padding: 4px 14px;
    height: auto;
    font-size: 32px;
    display: flex;
  }

  .overlaySearchContainer {
    margin-top: 32px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
  }

  .resultCount {
    align-self: flex-start;
    font-size: 16px;
    color: $color-grey-darker;
  }

  .resultList {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .folderCard {
    max-width: 31%;
    margin: 0 1%;
  }

}

@keyframes SEARCH_OVERLAY_INPUT_IN {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
  }
}
