.sidebar {

  .side-nav {
    width: 340px !important;
    padding: 24px;
    display: flex;
    flex-direction: column;
  }

  .user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
  }

  .user__name {
    font-size: 1.5em;
    margin-left: 16px;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .user__dropdown {
    display: flex;

    &,
    &:hover,
    &:focus,
    &:active {
      background: none;
      border: none;
    }

    /* Overrides */
    .dropdown-menu {
      top: 24px;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
      }
      a { flex: 1; }

      a,
      li {
        font-weight: normal;
        line-height: 42px !important;
        height: 42px !important;
      }
    }
  }

  .createFolder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  .createFolder .title {
    font-size: 18px;
  }

  .createFolder .add {
    transition: all .4s ease;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    background-color: $color-grey-darker;
    color: white;
    border-radius: 4px;
    font-size: 12px;
  }

  .createFolder .add:hover {
    background-color: $color-grey-darkest;
    color: $color-grey-lightest;
  }

  .folderList {
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .folder {
    transition: all .25s ease;
    // margin-bottom: 12px;
    padding: 24px 12px 24px 24px;
    border-left: 3px solid transparent;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: normal;
    color: $color-grey;

    &:hover {
      border-left: 3px solid gray;
      color: $color-grey-darker;
    }
    &.isActive {
      border-left-color: $primary-color;
      color: $color-grey-darkest;
    }
  }
  .folderName { flex: 1; }
  .noteCount {
    margin-left: 12px;
    font-size: 12px;
    > span {
      padding: 2px 6px;
      border-radius: 4px;
      background: $color-grey-lighter;
    }
  }
  .folder:hover .noteCount > span,
  .folder.isActive .noteCount > span {
    background-color: white;
  }


  .searchbox {
    position: relative;
    margin-bottom: 10px;

    input {
      background-color: $color-grey-lightest;
      height: 30px;
      border-radius: 15px;
      padding: 10px 20px 10px 40px;
      box-sizing: border-box !important;
      border: none;
    }

    input:focus {
      // border-bottom: 1px solid $color-grey !important;
      box-shadow: 0 4px 6px $color-grey-lighter !important;
    }

    ::placeholder {
      color: #ABABAB;
      font-size: 14px;
    }

    i {
      position: absolute;
      top: 5px;
      left: 10px;
      color: $color-grey;
      font-size: 20px;
      pointer-events: none;
    }
  }

  .buttonSidebar {
    background: none;
    border: 0px;
    &:active { background: none; }
  }

}
