.NoteContainer {
  height: 800px;
  display: flex;
  padding: 60px 220px 50px 220px;
  flex-direction: column;
}

.noteTitle {
  width: 100%;
  color: #4A4A4A;
  font-size: 24px;
  font-weight: bold;
  min-width: 250px;
}

.editor {
  margin-top: 20px;
  //border: 1px solid black;
  min-width: 550px;
}

.EditorTerminal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.terminal {
  font-family: monospace;
  background-color: black;
  box-shadow: 0 2 4;
  color: white;
  min-width: 500px;
  height: 500px;
  text-align: center;
}

.RichEditor-editor {
  padding-left: 10px;
}

.RichEditor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
  counter-reset: section;
}

.RichEditor-editor .public-DraftStyleDefault-pre > pre {

  &:before {
    counter-increment: section;
    content: counter(section);
    display: inline-block;
    border-right: 1px solid #ddd;
    padding: 0.5em;
    margin-right: .5em;
    pointer-event: none;
  }
  
}

.RichEditor-editor .public-DraftStyleDefault-pre > pre > div {

  display: inline-block;
  
}
<<<<<<< 8fd3d75ef7545bb171bf79693f5793425ec5958f
=======

/*.public-DraftStyleDefault-ltr {
  display: inline-block;
}*/
>>>>>>> adding lines to code block
