.NavContainer {
  height: 50px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: 0 8px 6px -6px #999;
}

.NavContainer .sidebar {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.NavContainer .logo {
  display: flex;
  align-items: center;
}

.NavContainer .widgets {
  display: flex;
  flex-direction: row;
  width: 100px;
  justify-content: space-between;
}

.NavContainer .widgets .alerts {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 25px;
}

.NavContainer .widgets .search {
  display: flex;
  align-self: flex-end;
  padding-top: 5px;
}
