.alerts {
  .dropdown-content {
    margin-top: 33px;
    width: 490px !important;
    right: 30px;
    left: unset !important;
    cursor: auto;
  }

  .dropdown-content .notifications-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 18px;
    border-bottom: 1px solid gray;
    height: 43px;
    align-items: center;
  }

  .dropdown-content .notifications-heading .notifications-panel-tabs {
    display: flex;
    width: 220px;
    justify-content: space-between;
    margin-left: 20px;
  }

  .dropdown-content .notifications-heading .markAsRead {
    cursor: pointer;
  }

  .dropdown-content .notifications-heading .notifications-panel-tabs .notifications-tab {
    cursor: pointer;
  }

  .dropdown-content .notifications-heading .notifications-panel-tabs .notifications-unreadtab {
    cursor: pointer;
  }

  .dropdown-content .notifications {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
  }

  .dropdown-content .notifications .notifications-userbody {
    display: flex;
    flex-direction: row;
    width: 355px;
  }

  .dropdown-content .notifications .notifications-userbody .message {
    padding-left: 12px;
    padding-top: 5px;
    width: 315px;
  }

  .dropdown-content .notifications .notifications-userbody .user {
    padding-left: 10px;
  }

  .dropdown-content .notifications .message-date {
    padding-left: 3px;
  }

  .dropdown-content .notifications .user .circle {
    width: 35px;
    height: 35px;
  }
}
