.actions .chip {
  transition: all .4s ease;
  cursor: pointer;
  padding: 0px 5px;
  align-items: center;
  background-color: #D8D8D8;
  border-radius: 4px;
  font-size: 12px;
  margin-left: 25px;
}

.actions .chip:hover {
  background-color: #9C9999;
}

#renameContentModal,
#addFolderModal {
  padding: 12px 24px;
  .modal-content {
    text-align: center;
  }
  h5 {
    margin-bottom: 24px;
  }
  input {
    box-sizing: border-box;
    padding: 0 24px;
    font-size: 1.5rem;
    text-align: center;
  }
}
.modalActions {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  > .cancelBtn {
    color: $color-grey-darker;
  }
  > .actionBtn {
    color: $accent-color;
  }
}
