#renameContentModal,
#addFolderModal,
#shareContentModal,
#deleteContentModal {
  padding: 12px 24px;
  .modal-content {
    text-align: center;
  }
  h5 {
    margin-bottom: 24px;
  }
  .subtitle {
    color: $color-grey;
  }
  input {
    box-sizing: border-box;
    padding: 0 24px;
    font-size: 1.5rem;
    text-align: center;
  }
}
.modalActions {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  > .cancelBtn {
    color: $color-grey-darker;
  }
  > .actionBtn {
    color: $accent-color;
  }
  > .deleteBtn {
    color: $color-red;
  }
}

#shareContentModal,
#deleteContentModal {
  h5 { margin-bottom: 8px; }
  .subtitle { margin-bottom: 24px; }
}

#deleteContentModal .itemToDelete {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-grey;
  font-size: 1.4rem;
  @include overflow-ellipsis();

  > i {
    margin-right: 8px;
    color: $color-grey-lighter
  }
  > span {
    color: $color-grey-darker;
    font-size: 1.7rem;
  }
  > small {
    margin-top: 4px;
    margin-left: 8px;
  }
}
