.HomeContainer {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  transition: padding .25s ease;
}

.recentNotes {
  .noteList {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
  .noteCard {
    margin: 12px 1%;
    padding: 8px 16px;
    height: 80px;
    max-width: 23%;
    min-width: 230px;
    border: 1px solid $color-grey-lighter;
    border-radius: 8px;
    display: flex;
    flex: 1 0 230px;
    align-items: center;

    &:hover {
      box-shadow: 0 2px 6px $color-grey-lighter;
    }
  }
  .noteCard__image {
    margin-right: 16px;
  }
  .noteCard__info {
    overflow: hidden;
  }
  .noteCard__info > .title {
    font-size: 18px;
    color: $primary-color;
    @include overflow-ellipsis();
  }
  .noteCard__info > .details {
    font-size: 12px;
    color: $color-grey;
  }
  .noteCard__action {

  }
}
.recentNotes__header {
  display: flex;
  align-items: center;
}
.recentNotes .sectionLabel {
  margin-right: 24px;
  text-transform: uppercase;
}
.recentNotes .allBtn,
.recentNotes .newBtn {
  display: flex;
  align-items: center;
}

.recentNotes .note .bottom {
  padding: 15px 24px;
  display: flex;
  flex-direction: column;
}

.recentNotes .note .bottom .noteTitle {
  font-size: 18px;
  overflow: hidden;
}

.recent .notes .note .bottom .noteDetails {
  font-size: 12px;
  color: #9B9B9B;
}

.recent .title {
  color: #4A4A4A;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.recent .title .goToAllNotes {
  display: flex;
  margin-right: 14px;
  align-items: center;
}

/** Folder block **/

.folderContainer {
  padding: 30px 50px;
}

.folderContainer .folderHeader {
  color: #4A4A4A;
  font-size: 24px;

  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.folderContainer .folderHeader .add {
  display: flex;
  flex-direction: row;
}

.folderContainer .folderHeader .addFolder {
  font-size: 16px;
  color: #4A4A4A;
  cursor: pointer;
}

.folderContainer .folders {
  display: flex;
  flex-direction: column;
}

.folderContainer .folders .eachFolder {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 4px #000000;
  margin-bottom: 30px;
}

.folderContainer .folders .eachFolder .content .top {
  margin-bottom: 10px;
  font-size: 20px;
}

.folderContainer .folders .eachFolder .content .bottom {
  margin-bottom: 10px;
  font-size: 14px;
  color: #ABABAB;
}

.folderContainer .folders .eachFolder .folderContents {
  display: flex;
  flex-direction: row;
}

.folderContainer .folders .eachFolder .folderContents .material-icons {
  margin: 15px;
}

/***** Responsive Adjustments *****/

@media (max-width: $screen-sm-max) {
  .HomeContainer { padding: 90px 20px 50px 20px; }
  .recentNotes .note {
    max-width: 100%;
  }
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .HomeContainer { padding: 90px 50px 50px 50px; }
}
@media (min-width: $screen-lg-min) {
  .HomeContainer { padding: 90px 200px 50px 200px; }
}
