.HomeContainer {
  display: flex;
  flex-direction: column;
}

/***** Recent Notes Styling *****/

.recentNotes {
  .noteList {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
}
.recentNotes__header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.recentNotes__header .sectionLabel {
  margin-right: 24px;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.recentNotes__header .allBtn,
.recentNotes__header .newBtn {
  display: flex;
  align-items: center;
  transition: all .25s ease;
  cursor: pointer;
  > i { font-size: 16px; }
}
.recentNotes__header .allBtn {
  > * {
    color: $color-grey;
    transition: color .25s ease;
  }
  &:hover > * { color: darken($color-grey, 25%); }
}
.recentNotes__header .newBtn {
  padding: 4px 12px 4px 8px;
  background: $primary-color-3;
  border-radius: 4px;
  text-transform: uppercase;
  > * { color: white; }
  &:hover { background: lighten($primary-color-3, 5%); }
}

/***** Folders Styling *****/

.folders {
  margin-top: 32px;
  display: flex;
  flex-flow: column nowrap;
}
.folders__header { @extend .recentNotes__header; }

/***** Responsive Adjustments *****/

@media (max-width: $screen-sm-max) {
  .recentNotes__header .sectionLabel { font-size: 1.3rem; }
  .recentNotes .noteCard {
    max-width: 100%;
    &:nth-child(n+5) { display: none; }
  }
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .recentNotes .noteCard {
    &:nth-child(n+7) { display: none; }
  }
}
@media (min-width: $screen-lg-min) {
  .recentNotes .noteCard {
    &:nth-child(n+9) { display: none; }
  }
}
