.FoldersContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .pageHeader {
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .pageHeader .folderIcon {
    margin-right: 16px;
    color: $color-grey-lighter;
    font-size: 32px;
  }
  .pageTitle {
    font-size: 2rem;
    color: $color-grey-darkest;
  }
  .folderActions {
    @include unstyle-btn();
    display: flex;
    margin-left: 8px;
    color: $color-grey;

    .dropdown-menu { color: $color-grey-darkest; }
  }

  .newNoteBtn {
    padding: 4px 12px 4px 8px;
    background: $primary-color-3;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
    > * { color: white; }
    &:hover { background: lighten($primary-color-3, 5%); }
  }
}


.FoldersContainer .number {
  align-self: flex-start;
  margin-bottom: 15px;
  color: #9B9B9B;
}

.FoldersContainer .notes {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1 0 auto;
  overflow-y: auto;
  height: 600px;
  margin-bottom: 15px;
  padding-right: 15px;
}

.FoldersContainer .notes .note {
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  margin-bottom: 25px;
  min-height: 80px;
  box-shadow: 0px 2px 4px;
  border: 1px solid gray;
  padding: 0px 30px;
}

.FoldersContainer .notes .note .details .date{
  font-size: 10px;
  color: #9B9B9B;
}

.FoldersContainer .notes .note .open {
  transition: all .4s ease;
  border-left: 2px solid gray;
  font-size: 20px;
  align-self: center;
  padding-left: 25px;
}

.FoldersContainer .notes .note:hover > .open {
  border-left: 2px solid lightblue;
  color: lightblue;
}

.FoldersContainer .prompt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
