.FoldersContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .pageHeader {
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .pageHeader .folderIcon {
    margin-right: 16px;
    color: $color-grey-lighter;
    font-size: 32px;
  }
  .pageTitle {
    font-size: 2rem;
    color: $color-grey-darkest;
  }
  .folderActions {
    @include unstyle-btn();
    display: flex;
    margin-left: 8px;
    color: $color-grey;

    .dropdown-menu { color: $color-grey-darkest; }
  }
  .folderUsers {
    margin: 0 24px;
    padding: 0 24px;
    border-right: 1px solid $color-grey-lighter;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    .userAvatar { margin-left: 4px; }
  }

  .newNoteBtn {
    padding: 4px 12px 4px 8px;
    background: $primary-color-3;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
    > * { color: white; }
    &:hover { background: lighten($primary-color-3, 5%); }
  }

  .number {
    align-self: flex-start;
    margin-bottom: 15px;
    color: #9B9B9B;
  }

  .noteList {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
  }
  .noteCard {
    max-width: 100%;
  }

  .prompt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
