.NoteContainer {
  height: 100%;
  display: flex;
  padding: 75px 220px 50px 220px;
  flex-direction: column;
  align-items: center;

  .noteTitle {
    width: 800px;
    color: #4A4A4A;
    font-size: 24px;
    font-weight: bold;
    min-width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;

  }

  .editor {
    margin-top: 20px;
    width: 800px;
    position: relative;

  }

  .EditorTerminal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    justify-content: center;
  }

  .terminal {
    position: fixed;
    top: 100px;
    right: 50px;
    font-family: monospace;
    background-color: black;
    box-shadow: 0 2 4;
    color: white;
    min-width: 450px;
    max-width: 450px;
    height: 700px;
    text-align: center;
    border-radius: 15px;
    padding: 15px;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
  }

  .compileAnswer {
    flex: 1;
    height: 100%;
    overflow-y: auto;
  }

  .RichEditor-controls {
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
    user-select: none;
  }

  .RichEditor-styleButton {
    color: #999;
    cursor: pointer;
    margin-right: 16px;
    padding: 2px 0;
    display: inline-block;
  }

  .RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
    display: none;
  }

  .RichEditor-editor .public-DraftStyleDefault-pre {
    font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
    font-size: 16px;
    margin: 0px;
  }

  .RichEditor-editor .public-DraftStyleDefault-pre > pre {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 5px;
  }

  .public-DraftEditor-content > div > * {
    padding: 10px 0 10px 0;
  }

  .public-DraftEditor-content > div > h1 {
    padding: 20px 0 20px 0 !important;
    margin: 0 !important;
  }

  .public-DraftEditor-content > div > h2 {
    padding: 20px 0 20px 0 !important;
    margin: 0 !important;
  }

  .public-DraftEditor-content > div > h3 {
    padding: 20px 0 20px 0 !important;
    margin: 0 !important;
  }

  .public-DraftStyleDefault-ol, .public-DraftStyleDefault-ul {
    padding: 5px !important;
    margin: 0 !important;
  }

  .public-DraftEditorPlaceholder-root {
    padding: 10px 0 10px 0;
  }

  .block-todo {

    input[type="checkbox"] {
      cursor: pointer;
      float: left;
      position: relative;
      top: 4px;
      left: -4px;
      opacity: 1 !important;
    }

    .public-DraftStyleDefault-block {
      margin-left: 18px;
    }

    .block-todo-completed {
      color: #949494;
      text-decoration: line-through;
    }
  }

  .pagebreak {
    min-width: 700px;
  }

  figure {
    margin: 0px;
  }
}

h6 {
  margin: 0.75em !important;
  cursor: pointer;
}