.MainContainer {
  border: 2px solid orange;

  height: 800px;
  display: flex;
  padding: 80px 220px 50px 220px;
  flex-direction: column;
}


/** Recent block **/

.recent {
  border: 2px solid red;
  width: 100%;
}

.recent .notes {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

}

.recent .notes .note {
  margin: 14px;
  border: 2px solid yellow;
  height: 250px;
  flex-basis: 250px;
  display: flex;
  flex-direction: column;
}

.recent .notes .note .top {
  border: 1px solid cyan;
  background-color: #F4F4F4;
  height: 64%;
}

.recent .notes .note .bottom {
  border: 1px solid purple;
  height: 36%;
  padding: 15px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //align-content: space-between;
}

.recent .notes .note .bottom .noteTitle {
  font-size: 18px;
}

.recent .notes .note .bottom .noteDetails {
  font-size: 12px;
  color: #9B9B9B;
}

.recent .title {
  color: #4A4A4A;
  font-size: 24px;
  font-weight: bold;
}

/** Folder block **/

.folderContainer {
  border: 2px solid blue;
  padding: 50px;
}

.folderContainer .folderHeader {
  display: flex;
  justify-content: space-between;
}

.folderContainer .folders {
  display: flex;
  flex-direction: column;
}

.folderContainer .folders .folder {
  border: 2px solid orange;

  height: 250px;
}
