.notifications {
  position: relative;

  .hasUnread:before {
    content: '';
    width: 8px;
    height: 8px;
    background: $accent-color;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
  }

  .dropdown-content {
    margin-top: 33px;
    width: 490px !important;
    right: 0;
    left: unset !important;
    cursor: auto;
  }

  .notifications-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid $color-grey-lightest;
    height: 43px;
    align-items: center;
  }

  .notifications-panel-tabs {
    display: flex;
    flex: 1;
    > * {
      cursor: pointer;
      color: $color-grey;
      transition: color .25s ease;
    }
    > :hover    { color: $color-grey-darker; }
    > .isActive { color: $color-grey-darkest; }
  }
  .notifications-alltab { margin-right: 32px; }

  .markAsRead {
    @include unstyle-btn();
    transition: color .25s ease;
    cursor: pointer;
    color: $accent-color;
    &:hover { color: $accent-color-2; }
  }

  .notificationItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: background-color .2s ease;

    &:hover { background: $accent-color-1; }
  }

  .notificationItem .notifications-userbody {
    display: flex;
    flex-direction: row;
    width: 355px;
    color: $color-grey-darkest;
  }

  .notificationItem .notifications-userbody .message {
    padding-left: 12px;
    padding-top: 5px;
    width: 315px;
  }

  .notificationItem .notifications-userbody .user {
    padding-left: 10px;
  }

  .notificationItem .message-date {
    padding-left: 3px;
    color: $color-grey;
  }

  .notificationItem .user .circle {
    width: 35px;
    height: 35px;
  }
}
